@model QLP_Gym.Models.BaoCaoDoanhThu
@{
    ViewBag.Title = "SuaBC";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Sửa Gói tập</title>
    <link href="~/css/goitap.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Sửa Gói Tập
        </div>
        <form method="post" action="SuaGT">
            <div class="field">
                <input type="text" name="noiDungBaoCao" value="@Model.NoiDungBaoCao">
                <label>Nội dung báo cáo</label>
            </div>
            <div class="field">
                @if (Model.NgayBatDau.HasValue)
                {
                    <input type="date" name="NgayBatDau" value="@Model.NgayBatDau.Value.ToString("yyyy-MM-dd")" />
                }
                else
                {
                    <<input type="date" name="NgayBatDau" />
                }
                <label>Ngày Bắt Đầu</label>
            </div>
            <div class="field">
                @if (Model.NgayKetThuc.HasValue)
                {
                    <input type="date" name="NgayKetThuc" value="@Model.NgayKetThuc.Value.ToString("yyyy-MM-dd")" />
                }
                else
                {
                    <<input type="date" name="NgayKetThuc" />
                }
                <label>Ngày Kết Thúc</label>
            </div>
            <div class="field">
                <input type="submit" value="Sửa">
            </div>
            <div class="signup-link">
                <a href="/BaoCao/BaoCao">Quay về</a>
            </div>
            @*<label>Mã báo cáo</label>*@
            <div class="field">
                <input type="hidden" name="id_BC" value="@Model.id_BC" readonly>
            </div>
        </form>
    </div>
</body>
</html>